*.macrocall
/*.a
/*.AppImage
/*.dll
/*.exe
/*.zip
/.cache
/.svn
/.vs
/.vscode
/dependencies/csfml
/dependencies/physfs
/dependencies/sfml
/gamefilesdia/sfx
/gamefilesdia2/bgm/*.mid
/gamefilesdia2/bgm/*.ogg
/gamefilesdia2/gfx/*
!/gamefilesdia2/gfx/font.png
/gamefilesdia2/gfx2x
/gamefilesdia2/sfx
/portable
/target
